<h1><%= @client.first_name() %> <%= @client.last_name() %></h1>
<h2><em>Stylist: <a href="/stylists/<%= @my_stylist.id() %>"><button class="btn btn-primary"><%= @my_stylist.first_name() %> <%= @my_stylist.last_name() %></button></a></h2><br>
<a href="/clients/<%= @client.id() %>/edit"><button class="btn btn-primary">Edit</button></a>
<form action="/clients/<%= @client.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete <%= @client.first_name() %></button>
</form>
<a href="/"><button class="btn btn-primary">Home</button></a>
