<% if @stylists.any?() %>
  <ul>
    <h1><em>All Stylists:</em></h1>
    <% @stylists.each() do |stylist| %>
      <li><a href="/stylists/<%= stylist.id() %>"><button type="button" class="btn btn-default"><%= stylist.first_name() %></button></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stylists yet!</p>
<% end %>

<h3>Add Stylist:</h3>
<form action="/stylists" method="post">
  <input type="text" name="first_name" placeholder="First"><br>
  <input type="text" name="last_name" placeholder="Last"><br>
  <button type="submit" class="btn btn-success">Add Stylist</button>
</form><br>

<h3>Add Client:</h3>
<form action="/clients" method="post" class="form-with-border">
  <select id="stylist_id" name="stylist_id" type="text" required>
    <option value="" disabled selected>Select a Stylist</option>
    <% @stylists.each() do |stylist| %>
      <option value="<%= stylist.id()%>"><%= stylist.first_name() %> <%= stylist.last_name() %></option>
    <% end %>
  </select><br>
  <input id="first_name" name="first_name" type="text" placeholder="First"><br>
  <input id="last_name" name="last_name" type="text" placeholder="Last"><br>
  <button type="submit" class="btn btn-primary">Add</button>
</form><br>
<a href="/"><button type="button" class="btn btn-info">Home</button></a>
