<h1><%= @stylist.first_name() %> <%= @stylist.last_name() %></h1><br>
<% if @stylist.clients().any?() %>
  <h2>Here are <%= @stylist.first_name() %> <%= @stylist.last_name() %>'s' clients current:</h2>
  <ul>
    <% @stylist.clients().each() do |client| %>
      <li><a href="/clients/<%= client.id() %>"><button class="btn"><%= client.last_name() %>, <%= client.first_name() %></button></a></li>
    <% end %>
  </ul>
<% else %>
  <p>None</p>
<% end %>

<h2>Add a Client:</h2>
<form action="/clients" method="post">
  <input id="stylist_id" type="hidden" name="stylist_id" value="<%= @stylist.id() %>">
  <input id="first_name" name="first_name" type="text"><br>
  <input id="last_name" name="last_name" type="text"><br>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<a href="/stylists/<%= @stylist.id() %>/edit"><button class="btn btn-warning">Edit <%= @stylist.first_name() %> <%= @stylist.last_name() %></button></a>
<form action="/stylists/<%= @stylist.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete <%= @stylist.first_name() %> <%= @stylist.last_name() %></button>
</form>
<a href="/"><button class="btn btn-primary">Home</button></a>
